                /*
                    FOLHA DE ESTILO DO SITE ONE PAGE
                    @autor: REIDNER WILLIANS
                */

                /* IMPORTAÇÃO (GOOGLE FONTS) */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

                /* CSS RESET */

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

 /* LAYOUT */

.Container {
  margin: 0 auto;
  
}

.flex {
  display: flex;
  justify-content: space-between;
  
}

.flex2{
  display: flex;
  align-items: center;

}

.flex3{
  display: flex;
  flex-direction: column;
}

.flex4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex5 {
  display: flex;
  flex-direction: column-reverse;
}

.flex6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.botao {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  background-color: #c00000;
  padding: 10px 40px;
  border: 2px solid #ffff;
  border-radius: 25px;
}

  /* TOPO DO SITE */

#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/*CARTÃO*/

.Card{
  margin-top: 25px;
  width: 333px;
  height: 500px;
  background: #e8e8e8;
  border: 1px solid #a1a1a1;
  border-radius: 20px;
  text-align: center;

}
.Card img{
  border-radius: 20px 25px 0px 0px;
  margin-top: 20px;
}

.Card h3{
  margin-top: 15px;

}

.Card p{
  text-align: left;
  color: #434343;
  padding: 10px 30px 50px 30px;

}

.Card a{
  padding: 10px 80px;
  border: 0;
}
                          /*SMARTFONE PORTRAIT*/

  /* CABEÇALHO */

header{
  height: 60px;
}

#logo img{
  width: 128px;
  height: 128px;
}
#check{
  display: none;
}

label{
  font-size: 3em;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0,0,0,0.5);
}
nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}

#check:checked ~ ul{
  right: 0;
}

nav ul li{
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

   /* One Page */

#onepage{
  padding: 50px 10px;
}

#onepage h2{
  margin-bottom: 10px;
  color: #e96d07;
}

#onepage p{
  margin-bottom: 25px;
  color: #e96d07;
}

#video iframe{
  width: 340px;
  height: 191px;
  border: 0;
}

  /* DESTAQUE */

main{
  height: 75vh;
  background: url(img/ti.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main h1{
  font-size: 2.5rem;
}

main h2{
  font-size: 1em;
  margin: 20px 0px 50px 0px;
}

  /* SOBRE */

#sobre{
   padding: 50px 0px;
   background: url(img/elipse.jpg);
   background-size: cover;
   background-position: center;

}

#destaqueSobre{
  display: none;
}

#textoSobre{
  color: #f059dc;
  padding: 0px 10px;
  font-weight: 700;
  
}

#textoSobre h2{
  margin-bottom: 10px;
  
}

.topicoSobre {
  margin-top: 20px;
}

.topicoSobre img{
  margin-right: 10px;
}

.flex2 p{
  color: #f059dc;
  font-weight: 700;
}

                        /* WIREFRAME */

#wireframe{
  padding: 50px;
  background: url(img/elipse.jpg);
  background-size: cover;
  background-position: center;
}                        

#textowire{
  color: #fff;
  padding: 0px 10px;
  font-weight: 700;
}

#textowire h2{
  margin-bottom: 10px;

}

#textowire p{
  margin-bottom: 40px;
}

#textowire span{
  display: none;
}

#qrcode{
  display: none;
}

/* CONTEÚDO */

#conteudo{
  padding: 20px 0px;

}

#conteudo h2{
  margin-bottom: 25px;
  text-align: center;
}

#todos{
  margin-top: 50px;
  text-align: center;
}

#todos a{
  text-decoration: none;
  color: #000;
  font-size: 1.25em;
}

/*RODAPÉ*/

address{
  padding: 35px 10px 50px 10px;
  background: url(img/background2.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}

address a {
  text-decoration: none;
  color: #fff;
}

address img {
    padding-top: 15px;
}

#iconelocal {
  display: none;
}

#dados {
  margin: 30px 0px 15px 0px;
}

#googleMaps{
  display: none;
}

footer {
  padding: 50px;
  background-color: #343538;
  color: #fff;
  text-align: center;
}

#social {
  margin-bottom: 25px;
}
/*SMARTFONE LANDSCAPE*/

@media (min-width: 576px) {
 
  /* LAYOUT */

  .Container {
    max-width: 540px;
  }

  /* DESTAQUE */
  main h1, main h2{
    text-shadow: #000 0.5em 0.5em 0.5em;
  }
  /* One Page*/

  #video iframe{
    width: 560px;
    height: 315px;
  }

/* Rodapé*/

  .flex5 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #social {
   margin: 0;
  }

}

  /*TABLET PORTRAIT*/

@media (min-width: 768px) {
 
  /* LAYOUT */

  .Container {
    max-width: 720px;
  }
  /* DESTAQUE   */
  main{
    height: 45vh;
  }
  main h1{
    font-size: 4.5rem;
  }
  main h2{
    font-size: 2rem;
  }

  #video iframe{
    width: 560px;
    height: 315px;
  } 
}

                        /*TABLET LANDSCAPE*/

@media (min-width: 992px) {

  /* LAYOUT */

  .Container {
    max-width: 960px;
  }

  /* DESTAQUE */
  main{
    height: 70vh;
  }
  #video iframe{
    width: 560px;
    height: 315px;
  }
}

                        /*DESKTOP E NOTEBOOK*/

@media (min-width: 1280px) {

  /* LAYOUT */

  .Container {
    max-width: 1140px;
  }

  /* CABEÇALHO */

  header{
    height: 120px;
  }

  #logo img{
    width: 189px;
    height: 189px;
    margin-top: 30px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 50px;
  }
  nav ul li{
    float: left;
    border: 0;
  }
  nav ul li a{
    color: #343538;
  }
  nav ul li a:hover{
    color: #c00000;
  }

  /* SOBRE */

  #sobre{
    background-attachment: fixed;
  }
  #destaqueSobre{
    display: inline;
  }
  #destaqueSobre img{
    border-radius: 20%;
    margin-left: 30px;
  }
  #video iframe{
    width: 560px;
    height: 315px;
  }
  .flex3{
    flex-direction: row;
    align-items: center;
    font-size: 16px; 
  }

  /*Rodapé*/

  #iconelocal {
    display: inline;
  }
  #iconeMapa {
    display: none;
  }
  #googleMaps {
    display: inline;
  }

  .flex6 {
    flex-direction: row-reverse;
  }


                        /* WIREFRAME */

  #wireframe{
    background-attachment: fixed;
  }                      
  #qrcode{
    display:inline;
  }

  #qrcode img{
    width: 225px;
    height: 225px;
  }

  #wireframe span{
    display: inline;
    color: #c00000;
  }


}

